<div class="modal-user-bg">
  <div class="modal-new-user">
      <div class="modal-header">
          <h3 class="modal-title" >Sign in</h3>
      </div>
      <div class="modal-form-box">
          <form class="modal-form" ng-submit="signinmodal.signIn()">
              <input type="text" class="email-input" value="" placeholder="E-mail" ng-model="signinmodal.email"><br>
              <input type="password" class="password-input" value="" placeholder="Password" ng-model="signinmodal.password"><br>
              <input type="submit" class="button-signin" value="Sign in">
          </form>
          <div class="error-status">{{signinmodal.errorStatus}}</div>
          <div class="signIn-status">{{signinmodal.signInStatus}}</div>
          <span class="create-account-bar"><span>Don't have an account?&nbsp;&nbsp;</span><span class="create-account" ng-click="signinmodal.openNewAccountModal()">Create one&nbsp;&nbsp;</span></span>
      </div>
  </div>
</div>
